PROJECT_NAME=storbystand
APP_ENV=staging
DOMAIN=localhost
APP_PORT=80
WP_PROTOCOL=http
DB_HOST=db
DB_PORT=3306
DB_NAME=storbystand
DB_USER=storbystand
DB_PASSWORD=storbypass
DB_ROOT_PASSWORD=rootpass
WP_TABLE_PREFIX=wp_
WP_TITLE="Storbystand Local"
WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=changeme
WP_ADMIN_EMAIL=admin@example.com
ASSETS_HOST_PATH=/Users/mariusbelstad/Dev_folder/Wordpress\ Assets
